/* Встановлення фону для DOM */
body {
    background: #eee
}

/* Встановлення стилів для іконок */
.ratings i {
    font-size: 16px;
    color: red
}

/* Встановлення підкреслення і кольору шрифта для тексту */
.strike-text {
    color: red;
    text-decoration: line-through
}

/* Встановленян максимальної ширини */
.product-image {
    width: 100%
}

.dot {
    /* Задання висоти */
    height: 7px;
    /* Задання ширини */
    width: 7px;
    /* Задання відступу з ліва */
    margin-left: 6px;
    /* Задання відступу з права */
    margin-right: 6px;
    /* Задання відступу з верху */
    margin-top: 3px;
    /* Задання фону */
    background-color: blue;
    /* Задання округлення */
    border-radius: 50%;
    /* Задання властивості для розміщення елементів у лінію */
    display: inline-block
}

.spec-1 {
    /* Встанолвення кольору */
    color: #938787;
    /* Встановлення шрифту */
    font-size: 15px
}

h5 {
    /* Встановлення жирності тексту */
    font-weight: 400
}

.para {
    /* Встановлення розміру шрифта */
    font-size: 16px
}

.cursor-pointer {
    /* Встановлення анімації для курсора */
cursor: pointer;
}

